@import "../../global.module.scss";

.carouselContainer {
  background-color: $secondary_color;
  height: 575px;
  width: 100%;

  p {
    cursor: default;
    font-size: 2.25rem;
    font-weight: bold;
  }

  .carouselTxtWrapper {
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
    width: 100%;
  }

  .carouselWrapper {
    align-items: center;
    display: flex;
    height: 60%;
    justify-content: space-between;
    width: 100%;
  }

  .carouselLeft {
    cursor: default;
    padding-left: 3rem;
  }

  .carouselMiddle {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;

    .carouselItemContainer {
      border: 0.15rem groove $third_color;
      border-radius: 1.25rem;
      padding: 15px 1px;
      transition: 1s ease-in-out;
      p {
        font-size: 1.75rem;
        font-weight: normal;
        padding: 6px;
        text-align: center;
      }
      .carouselImg {
        height: 250px;
        width: 300px;
      }
    }

    .carouselItemContainer:hover {
      border: 0.15rem groove $main_color;
      transform: scale(1.0125);
    }
  }

  .carouselRight {
    cursor: default;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .carouselMiddle {
    .carouselItemContainer {
      p {
        font-size: 1.75rem;
        font-weight: normal;
        padding: 6px;
        text-align: center;
      }
      .carouselImg {
        height: 50px;
        width: 100px;
      }
    }
  }
}
