.footerContainer {
  background-color: navy;
  height: 650px;
  width: 100%;

  .contactSectionContainer {
    height: 550px;
  }

  .subFooterContainer {
    align-items: center;
    background-color: gray;
    border-radius: 4px;
    display: flex;
    height: 28px;
    margin: auto;
    padding: 10px 4px;
    width: 70%;

    > p {
      font-weight: bolder;
    }
  }
}
