/* This stylesheet contains global styles and color/sizing values */

// Global Theme Variables

// Colors
$main_color: #151f28;
$secondary_color: #ffffff;
$third_color: #c5c5c5;

// Fonts
$main_font: "helvetica";

// Global Styles
* {
  font-family: $main_font;
  margin: 0;
  padding: 0;
}
