/* This stylesheet contains global styles and color/sizing values */

// Global Styles
* {
  margin: 0;
  padding: 0;
}

// Global Theme Variables

// Colors
$main_color: #f7f7f7;
$secondary_color: #3d5297;
$border_color: #f1f1f1;
$link_color: #425281;
$input_borderColor: #747882;

// Fonts
$main_font: "helvetica";
