.headerContainer {
  height: 50px;
  width: 100%;

  .topHeader {
    background-color: gray;
    padding: 3px;
    text-align: center;
  }

  .mainHeader {
    background-color: navy;
    height: 100%;
  }
}
