@import "../../global.module.scss";

.headerContainer {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

  .topHeader {
    background-color: $third_color;
    cursor: default;
    font-weight: bolder;
    padding: 3px;
    text-align: center;
  }

  .mainHeader {
    background-color: $main_color;
    height: 100%;
  }
}
