.headerContainer {
  width: 100%;
  height: 50px;

  .topHeader {
    background-color: gray;
    text-align: center;
    padding: 3px;
  }

  .mainHeader {
    background-color: navy;
    height: 100%;
  }
}
